/* -------- HEADER ----------- */

.header-logo {
  background-image: linear-gradient(
      to top,
      rgb(255, 255, 255),
      rgba(255, 255, 254, 0)
    ),
    url("../images/bg-header-desktop.png");
  background-size: cover;
  text-align: center;
}

.logo {
  margin-top: 10rem;
}

.paragraph-snippets {
  text-align: start;
  padding: 0 4.8rem;
}

/* -------- SNIPPETS SECTION----------- */

.snippets-title {
  margin-bottom: 8rem;
}

.heading-snippets {
  text-align: start;
  padding: 0 4.8rem;
}

.snippets-orginize {
  display: flex;
  gap: 8rem;
  align-items: center;
  margin-right: 16rem;
}

.snippets-list {
  margin-bottom: 6.4rem;
}
.img-snippets {
  margin-left: -3.5rem;
}
/* -------ACCESS SECTION------- */

.img-box-access {
  text-align: center;
}

/* -------WORKFLOW SECTION------- */

.workflow-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 9.6rem;
}

.paragraph-workflow {
  padding: 0 3.6rem;
}

.workflow-list-item {
  text-align: center;
}

.logo-workflow {
  margin-bottom: 3.6rem;
}

/* --------- FEATURED SECTION ------- */

.logos {
  display: flex;
  justify-content: center;
  gap: 12rem;
}

/* ------- FOOTER ------- */

.footer {
  background-color: hsla(202, 11%, 66%, 0.11);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 6.4rem;
}

.list-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4.8rem;
  row-gap: 2.4rem;
}
.list-item,
.list-item:link,
.list-item:visited {
  font-size: 1.8rem;
  color: hsl(203, 8%, 56%);
  cursor: pointer;
  list-style: none;
}
.list-item:hover,
.list-item:active {
  color: hsl(171, 66%, 44%);
}

.logos-footer {
  display: flex;
  gap: 2.4rem;
}

.logo-footer:hover,
.logo-footer:active {
  fill: hsl(171, 66%, 44%);
}
